/* #one{
    width: 1000px;
    height: 300px;
    background-color: blueviolet;
    color: aliceblue;
    text-align: center;
}
#two{
    width: 1000px;
    height: 600px;
    background-color: burlywood;
    color: black;
    text-align: center;
} */

/* .Headers{
    display: flex;
    background-color: brown;
    text-align: center;
    height: 100px;
    font-weight: bolder;
    color: white;
    border-radius: 70px;
}
.Footer{
    background-color: rgb(255, 7, 7);
    text-align: center;
    height: 100px;
    font-weight: bolder;
    color: white;
    border-radius: 70px;
}
.Main{
    background-color: rgb(163, 165, 42);
    text-align: center;
    height: 300px;
    font-weight: bolder;
    color: white;
    border-radius: 70px;
}
.Headerleft{
    width: 300px;
    color: burlywood;

}
.Headerright{
    width: 600px;
    color: rgb(168, 155, 137);
    
} */