body{
    margin: 0px;
    padding: 0px;

}
.search{
    text-align: center;
    padding: 20px 0px;
    margin: 10px 0px;
}

.search input {
    border-radius: 4px;
    padding: 4px 45px 5px 12px;
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
    border: 1px dashed white;
}
.container{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content: center;
    align-items: center;
}
.select-container{
    border: none;
    padding: 1;
    border-radius: 3px;
    width: 70px;
    background-color: #c2e2e2;
    margin: 11px;
    height: 32px;
}