body{
    align-items: center;
    margin-top: 80px;
    margin-left: 200px;
}
form{
    border: 1px solid violet;
    background-color: rgb(183, 132, 230);
    width: 400px;
    height: 200px;
    border-radius: 30px;
    border: none;
    box-shadow: 10px 10px;
    padding: 50px;
}
input{
    padding: 10px;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 6px;
}
button{
    margin-left: 150px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px;
}
button:hover{
    background-color: blueviolet;
}